<section class="vh-100">
  <div class="container py-5 h-100">

    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-md-8 col-lg-6 col-xl-4">

        <h3 class="mb-4 pb-2 fw-normal">Weather forecast by Mar43nk0</h3>

        <div class="input-group rounded mb-3 align-items-center">

          <dx-text-box [(value)]="inputCity" class="mr-1" placeholder="City" aria-label="Search" aria-describedby="search-addon" ></dx-text-box>
          <dx-button (onClick)="onSearch()" text="Go!" class="btn btn-outline-dark btn-sm"></dx-button>
        </div>

        <div class="card shadow-0 border" *ngIf="weather">
          <div class="card-body p-4">

            <h4 class="mb-1 sfw-normal"> {{ weather.title }}, {{weather.parent.title}}</h4>
            <p class="mb-2">Current temperature: <strong>{{ weather.consolidated_weather[0].the_temp | number: '1.0-2' }}°C</strong></p>
            <p>Feels like: <strong>4.37°C</strong></p>
            <p>Max: <strong>{{ weather.consolidated_weather[0].max_temp | number: '1.0-2' }}°C</strong>, Min: <strong>{{ weather.consolidated_weather[0].min_temp | number: '1.0-2' }}°C</strong></p>

            <div class="d-flex flex-row align-items-center">
              <p class="mb-0 me-4">{{ weather.consolidated_weather[0].weather_state_name }}</p>
              <i class="fas fa-cloud fa-3x" style="color: #eee;"></i>
            </div>

          </div>
        </div>

      </div>
    </div>

  </div>
</section>